body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#CDE7C5,#F9E4C7,#E9A7AF,#D6BADB, #F7F1A4,#E7E7E7);
    animation: gradient 6s ease infinite;
    background-size: 400% 400%;
    height:100vh;
}

@keyframes gradient {
    0% {background-position: 0%-50%;}
    50% {background-position: 100% 50%;}
    100% {backgrounf-poistion: 50% 100%}
}

#container{
    width: 300px;
    background: whitesmoke;
    padding:30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    
}
input{
    width:100%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius:4px;
}
input:hover{
    cursor: pointer;
    transform:scale(1.6);
}
h2{
    text-align: center;
}
label{
    font-size:20px;
}

.input1:hover{
    transform:rotate(180deg);
    transition-duration: 10sec;
}

#error-msg{
    color:red;
    font-size:13px;
    text-align:center;
}